/* all common code design start here */
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}
:root{
    --style-font: "The Nautigal", cursive;
    --main-color:rgba(230, 83, 60, 1);
    --text-color:rgba(255, 255, 255, 1);
    --bg-color-primary:rgb(0, 0, 0);
    --bg-color-secondary:rgba(34, 34, 34, 1);
    --home-bg: linear-gradient(90.00deg, rgb(17, 17, 17), rgba(119, 119, 119, 0.3) 100%);
}
html{
    font-size: 62.5%;
}
body{
   font-family: "Inter", sans-serif;
   background: var(--bg-color-primary);
   color: var(--text-color);
}
section{
    margin: 10rem auto;
}
.container{
    width: 90%;
    max-width: 1440px;
    margin: 0 auto;
    /* border: 1px solid red; */
}
/* main{
    background: var(--bg-color-primary);
} */
h3{
    font-size: 3.6rem;
    font-weight: 800;
    line-height: 120%;
    color: var(--text-color);
    margin-bottom: 1.5rem;
}
p{
    font-size: 1.4rem;
    color: rgba(255, 255, 255, 0.5);
    line-height: 25px;
    letter-spacing: 0.1rem;
    font-weight: 400;
    margin-bottom: 2rem;
}
.style{
    font-family: var(--style-font);
    font-size: 15.6rem;
    letter-spacing: 0.1rem;
}
.btn{
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--text-color);
    background: var(--main-color);
    padding: 1.5rem 4rem;
    border: 1px solid var(--main-color);
    border-radius: 4rem;
    cursor: pointer;
}
/* all common code design end here */

/* navbar section design start here */
/* .header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 3rem 0;
    background: rgba(0, 0, 0, 0.7);
    filter: drop-shadow(10px);

    z-index: 100;
} */
.nav-bar{
    width: 90%;
    max-width: 1440px;
    padding: 5rem 0;
    margin: 0rem auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    font-size: 3.6rem;
    color: var(--main-color);
    font-weight: 800;
    padding: 0 10px;
    cursor: pointer;
    transition: 0.5s ease;
}
#menu-icon{
    font-size: 3rem;
    color: var(--main-color);
    display: none;
    cursor: pointer;
}
.nav-list{
    border: 0.1rem solid rgba(255, 255, 255, 0.1);
    padding: 1rem 0rem;
    border-radius: 4rem;
}
.nav-list a{
    color: var(--text-color);
    padding: 1rem 2rem;
    margin-left: 4rem;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 3rem;
    cursor: pointer;
}
.nav-list .active{
    background: var(--main-color);
    border-radius: 4rem;
    margin-left: 0.5rem;
}  
/* navbar section design end here */

/* home section start here */
    #home{
        background: var(--home-bg);
    }
    .home-container{
        /* margin-top: 15rem; */
        display: flex;
        align-items: center;
    }
    .home-content{
        width: 50%;
        text-align: left;
    }
    .home-content h3{
        font-size: 7.6rem;
        max-width: 500px;
        line-height: 120%;
    }
    .home-content p{
        max-width: 500px;
    }
    .button .btn-2{
        margin-left: 2rem;
        background: transparent;
        border: 1px solid var(--text-color);
    }

    /* home img section design */
    .home-img{
        width: 50%;
        text-align: center;
        position: relative;
    }
    .img-text{
        background: rgba(48, 48, 48, 0.54);
        display: inline-block;
        padding: 1rem 1.5rem;
        text-align: left;
        border-radius: 1.5rem;
        border: 1px solid rgba(255, 255, 255, 0.1);
    }
    .img-top > h3{
        margin-bottom: 0;
        font-size: 3rem;
    }
    .img-top > p{
        font-size: 1.2rem;
        margin-bottom: 0;
    }
    .sub-content > p{
        font-size: 1.2rem;
        margin-bottom: 0;
    }
    .sub-content > h3{
        font-size: 2rem;
        margin-bottom: 0;
    }
    .home-img .img-top{
        position: absolute;
        top: 150px;
        right:150px ;
    }
    .home-img .img-bottom{
        display: inline-flex;
        align-items: center;
    }
    .home-img .img-bottom{
        position: absolute;
        left: 120px;
        bottom: 60px;
    }
    .circle{
        background: var(--main-color);
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
        position: relative;
        margin-right: 1rem;
    }
    .circle i{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
    }
/* home section ends here */

/* habit section design start here */
.habits{
    margin: 10rem auto;
}
.habit-heading{
    margin-bottom: 5rem;
    text-align: center;
}
.habit-heading > p{
    max-width:  700px;
    margin: 0 auto;
}
.habit-content{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    place-items: center;
    text-align: center;
    padding: 0rem 5rem;
}
.habit-content img{
    border-radius: 50%;
    border: 4px solid var(--bg-color-secondary);
}
.card-heading{
    padding: 2rem 5rem;
    text-align: center;
}
.card-heading > h3{
    font-size: 1.8rem;
    margin-bottom: 1rem;
}
.card-heading > p{
    font-size: 1.2rem;
    font-weight: 400;
    line-height: normal; 
}
/* habit section design start here */

/* run section design start here  */
.run-container{
    display: flex;
    align-items: center;
    background: var(--bg-color-secondary);
    padding: 3rem 5rem;
    border-radius: 3rem;
}
.run-content{
    width: 60%;
}
.run-content > h3{
    max-width: 300px;
}
.run-content > p{
    max-width: 450px;
}
.run-btn{
    padding: 1rem 5rem;
    cursor: pointer;
}
.run-img{
    width: 40%;
}
.run-img img{
    width: 100%;
    border-radius: 3rem;
}
/* run section design end here  */

/* traning section design start here  */
.traning{
    margin: 10rem auto;
}
.traning-heading{
    max-width: 600px;
    margin-bottom: 5rem;
}
    .row-1, .row-2{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    .row-1{
        grid-template-columns: 0.75fr 1.5fr 0.75fr;
    }
    .row-2{
        grid-template-columns: 1.25fr 0.75fr  1fr;
    }
    .exercise-card{
        position: relative;
    }
    .exercise{
        position: absolute;
        z-index: 10;
        max-width: 200px;
        font-weight: 500;
        color: var(--text-color);
    }
    .exercise-1{
        bottom: 0;
        left: 3rem;
        color: #000000;
        
    }
    .exercise-2{
        top: 2rem;
        left: 3rem;
    }
    .exercise-3{
        bottom: 0;
        left: 3rem;
    }
    .exercise-4{
        top: 2rem;
        right: 3rem;
    }
    .exercise-5{
        bottom: 0;
        left: 3rem;
    }
    .exercise-6{
        bottom: 0;
        left: 3rem;
    }
    .exercise-card img{
        width: 100%;
        height: 300px;
        filter: brightness(70%);
        object-fit: cover;
    }
    .overlay{
        position: absolute;
        height: 100%;
        width: 100%;
        z-index: 8;
    }
    .overlay-1{
        background-color: rgba(6, 255, 210, 0.5);
    }
    .overlay-2{
        background-color: rgba(255, 0, 0, 0.3);
    }
    .overlay-3{
        background-color: rgba(0, 0, 0, 0.5);
    }
    .overlay-4{
        background-color: rgba(0, 0, 0, 0.5);
    }
    .overlay-5{
        background-color: rgba(66, 255, 0, 0.3);
    }
    .overlay-6{
        background-color: rgba(0, 71, 255, 0.3);
    }
/* traning section design end here  */

/* bmi calculator design start here */

.bmi-heading{
    max-width: 700px;
    margin: 0 auto;
    text-align: left;
    margin-bottom: 5rem;
}
.bg-container{
    width: 100%;
    height: auto;
    background: var(--bg-color-secondary);
}
.calculator-container{
    display: flex;   
    padding: 5rem 0; 
    /* align-items: center;     */
}
.bmi-chart{
    width: 40%;
}
.bmi-chart > h3{
    margin-bottom: 5rem; 
    font-size: 2.8rem;
}
table, td, th {
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 1.5rem 2.5rem;
  }
table {
    border-collapse: collapse;
  }
  th{
    font-size: 1.6rem;
    text-align: left;
    color: rgba(255, 255, 255, 1);
    line-height: 120%;
    font-weight: 500;
  }
  td{
    font-size: 14px;
    color:rgba(255, 255, 255, 0.5);
    font-weight: 400;
    line-height: 120%;
    text-align: left;
  }

.bmi-calculator{
    width: 60%;
    padding-left: 10rem;
}
.bmi-calculator h3{
    font-size: 2.8rem;
}
.bmi-calculator p{
    font-size: 1.6rem;
    max-width: 800px;
}


form{
    width: 100%;
}
.input-row{
    display: flex;
    justify-content: space-between;
}
input[type="text"], select {
    padding: 2rem;
    font-size: 1.6rem;
    border: none;
    border-radius: 0.8rem;
    background-color: rgba(255, 255, 255, 0.1);
    color: rgba(255, 255, 255, 0.6);
    letter-spacing: 0.08rem;
    outline: none;
}
.input-row > input , .input-row select{
    width: 48%;
    margin-bottom: 1.5rem;
}
.input-row-full select{
    width: 100%;
    padding: 2rem;
    font-size: 1.6rem;
    border: none;
    border-radius: 0.8rem;
    background-color: rgba(255, 255, 255, 0.1);
    color: rgba(255, 255, 255, 0.6);
    letter-spacing: 0.08rem;
    outline: none;
}
.calculator-btn{
    margin-top: 3rem;
    padding: 1rem 4rem;
    cursor: pointer;
}
/* bmi calculator design end here */

/* about section design start here  */
#about{
    padding: 5rem 0;
}
.about-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.about-content{
    width: 48%;
}
.about-img{
    width: 48%;
}
.about-img img{
    width: 100%;
    height: 100%;
    filter: brightness(70%);
    border-radius: 2rem;
}
.about-btn{
    padding: 1rem 4rem;
}
/* about section design end here  */

/* team section design start here  */
.team{
    text-align: center;
    margin-bottom: 10rem;  
}
.team > p{
    max-width: 700px;
    margin: 0 auto;
    margin-bottom: 5rem;
}
.team-cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
    place-items: center;
    background: var(--bg-color-secondary);
    padding: 3rem;
    border-radius: 2rem;
}
.cards{
    position: relative;
    width: 100%;
    height: 100%;
}
.cards > img{
    width: 100%;
    height: 100%;
    filter: brightness(70%);
    object-fit: cover;
    border-radius: 2rem;
    position: relative;
}
.info-trainer{
    position: absolute;
    left: 2rem;
    bottom: 0;
    text-align: left;
}
.info-trainer > h3{
    font-size: 2.8rem;
    line-height: 120%;
    margin-bottom: 1rem;
}
.info-trainer > p{
    font-size: 1.8rem;
    line-height: 120%;
    font-weight: 400;
    letter-spacing: 0.1rem;
}
/* team section design end here  */

/* footer design start here */
footer{
    background: rgba(255, 255, 255, 0.1);
}
.footer-container{
    display: grid;
    /* grid-template-columns: 1.25fr 0.875fr 0.875fr; */
    grid-template-columns: 1.50fr 0.75fr 0.75fr;
    /* place-items: center; */
    padding: 5rem 0;
}
.footer-col > .logo{
    padding: 0;
}
.footer-left-text{
    max-width: 450px;
    font-size: 1.4rem;
    line-height: 2.4rem;
    letter-spacing: 0.1rem;
    margin-top: 2rem;
}
.footer-col > h3{
    font-size: 2.5rem;
    margin-bottom: 3rem;
}
.footer-col > p{
    font-size: 1.4rem;
    line-height: 120%;
}
.right{
    text-align: center;
}
.right > hr{
    border: 0.2rem solid rgba(255, 255, 255, 0.1);
}
.right > p{
    font-size: 1.4rem;
    line-height: 120%;
    padding: 3rem 0;
}
/* footer design end here */